.SlideMaster-Body-375
{
	font-weight: normal;
}

.SlideMaster-Body-377
{
	font-size: 20pt;
	font-weight: normal;
}

.SlideMaster-Body-376
{
	font-size: 20pt;
	font-weight: normal;
}

.SlideMaster-Body-371
{
	font-size: 20pt;
	font-weight: normal;
}

.SlideMaster-Body-370
{
	font-weight: normal;
}

.SlideMaster-Body-373
{
	font-size: 20pt;
	font-weight: normal;
}

.SlideMaster-Body-372
{
	font-weight: normal;
}

.mainbodystyle
{
	background-color: #FFFFFF;
}

.SlideMaster-Body-379
{
	font-size: 20pt;
	font-weight: normal;
}

.SlideMaster-Body-378
{
	font-size: 20pt;
	font-weight: normal;
}

.SlideMaster-Body-463
{
	font-weight: normal;
}

.SlideMaster-Body-462
{
	font-weight: normal;
}

.SlideMaster-Body-461
{
	font-weight: normal;
}

.SlideMaster-Body-460
{
	font-weight: normal;
}

.SlideMaster-Body-467
{
	font-weight: normal;
}

.SlideMaster-Body-466
{
	font-weight: normal;
}

.SlideMaster-Body-465
{
	font-weight: normal;
}

.SlideMaster-Body-469
{
	font-weight: normal;
}

.SlideMaster-Title-393
{
	font-size: 32pt;
}

.SlideMaster-Body4
{
	color: #000000;
	font-family: "Arial", sans-serif;
	font-size: 20pt;
	font-style: normal;
	font-weight: normal;
	text-decoration: none;
	vertical-align: baseline;
	background-color: #FFFFFF;
}

.SlideMaster-Body5
{
	color: #000000;
	font-family: "Arial", sans-serif;
	font-size: 20pt;
	font-style: normal;
	font-weight: normal;
	text-decoration: none;
	vertical-align: baseline;
	background-color: #FFFFFF;
}

.SlideMaster-Body-514
{
	font-weight: normal;
}

.SlideMaster-Title-396
{
	font-size: 32pt;
}

.SlideMaster-Body-516
{
	font-weight: normal;
}

.SlideMaster-Title-547
{
	color: #3333CC;
	font-size: 20pt;
	text-decoration: underline;
	background-color: #FFFFFF;
}

.SlideMaster-Body2
{
	color: #000000;
	font-family: "Arial", sans-serif;
	font-size: 24pt;
	font-style: normal;
	font-weight: normal;
	text-decoration: none;
	vertical-align: baseline;
	background-color: #FFFFFF;
}

.SlideMaster-Body3
{
	color: #000000;
	font-family: "Arial", sans-serif;
	font-size: 24pt;
	font-style: normal;
	font-weight: normal;
	text-decoration: none;
	vertical-align: baseline;
	background-color: #FFFFFF;
}

.SlideMaster-Body-367
{
	font-size: 20pt;
	font-weight: normal;
}

.AlignStyle344
{
	text-align: left;
}

.AlignStyle343
{
	text-align: left;
}

.AlignStyle342
{
	text-align: left;
}

.AlignStyle341
{
	text-align: left;
}

.AlignStyle340
{
	text-align: left;
}

.SlideMaster-Body-518
{
	font-weight: normal;
}

.SlideMaster-Body-368
{
	font-weight: normal;
}

.SlideMaster-Body-369
{
	font-size: 20pt;
	font-weight: normal;
}

.SlideMaster-Body-436
{
	font-size: 20pt;
	font-weight: normal;
}

.SlideMaster-Body-437
{
	font-size: 20pt;
	font-weight: normal;
}

.AlignStyle348
{
	text-align: left;
}

.SlideMaster-Body-435
{
	font-size: 20pt;
	font-weight: normal;
}

.SlideMaster-Body-432
{
	font-size: 20pt;
	font-style: italic;
	font-weight: normal;
}

.SlideMaster-Body-433
{
	font-size: 20pt;
	font-weight: normal;
}

.SlideMaster-Body-430
{
	font-weight: normal;
}

.SlideMaster-Body-431
{
	font-size: 20pt;
	font-weight: normal;
}

.SlideMaster-Title-546
{
	color: #3333CC;
	font-size: 20pt;
	text-decoration: underline;
	background-color: #FFFFFF;
}

.SlideMaster-Body-537
{
	font-size: 20pt;
	font-weight: normal;
}

.SlideMaster-Body-438
{
	font-size: 20pt;
	font-weight: normal;
}

.SlideMaster-Body-506
{
	font-weight: normal;
}

.SlideMaster-Body-507
{
	font-weight: normal;
}

.SlideMaster-Body-500
{
	font-size: 20pt;
	font-weight: normal;
}

.SlideMaster-Body-501
{
	font-size: 20pt;
	font-weight: normal;
}

.SlideMaster-Body-502
{
	font-size: 20pt;
	font-weight: normal;
}

.SlideMaster-Body-503
{
	font-size: 20pt;
	font-weight: normal;
}

.AlignStyle399
{
	text-align: left;
}

.SlideMaster-Body-508
{
	font-size: 20pt;
	font-weight: normal;
}

.SlideMaster-Body-509
{
	font-size: 20pt;
	font-weight: normal;
}

.AlignStyle393
{
	text-align: left;
}

.AlignStyle390
{
	text-align: left;
}

.AlignStyle391
{
	text-align: left;
}

.AlignStyle396
{
	text-align: left;
}

.SlideMaster-Body-405
{
	font-weight: normal;
}

.SlideMaster-Body-404
{
	font-weight: normal;
}

.SlideMaster-Body-407
{
	font-size: 20pt;
}

.SlideMaster-Body-406
{
	font-size: 20pt;
	font-weight: normal;
}

.SlideMaster-Body-401
{
	font-weight: normal;
}

.SlideMaster-Body-402
{
	font-weight: normal;
}

.SlideMaster-Default
{
	color: #000000;
	font-family: "Arial", sans-serif;
	font-size: 28pt;
	font-style: normal;
	font-weight: normal;
	text-decoration: none;
	vertical-align: baseline;
	background-color: #FFFFFF;
}

.SlideMaster-Body-408
{
	font-size: 20pt;
	font-weight: normal;
}

.SlideMaster-Body-526
{
	font-weight: normal;
}

.SlideMaster-Title
{
	color: #003399;
	font-family: "Arial", sans-serif;
	font-size: 28pt;
	font-style: normal;
	font-weight: bold;
	text-decoration: none;
	vertical-align: baseline;
	background-color: #FFFFFF;
}

.SlideMaster-Body-532
{
	font-weight: normal;
}

.SlideMaster-Body-531
{
	font-weight: normal;
}

.SlideMaster-Title-545
{
	color: #000000;
	font-size: 20pt;
	background-color: #FFFFFF;
}

.SlideMaster-Body-539
{
	font-size: 20pt;
	font-weight: normal;
}

.SlideMaster-Body-529
{
	font-size: 20pt;
	font-weight: normal;
}

.SlideMaster-Title-548
{
	color: #000000;
	font-size: 20pt;
	background-color: #FFFFFF;
}

.AlignStyle299
{
	text-align: left;
}

.AlignStyle298
{
	text-align: left;
}

.AlignStyle293
{
	text-align: left;
}

.AlignStyle292
{
	text-align: left;
}

.AlignStyle291
{
	text-align: left;
}

.AlignStyle290
{
	text-align: left;
}

.AlignStyle297
{
	text-align: left;
}

.AlignStyle296
{
	text-align: left;
}

.AlignStyle295
{
	text-align: left;
}

.AlignStyle294
{
	text-align: left;
}

.SlideMaster-Body-525
{
	font-weight: normal;
}

.SlideMaster-Title-543
{
	color: #000000;
	font-size: 44pt;
	background-color: #FFFFFF;
}

.SlideMaster-Default5
{
	color: #000000;
	font-family: "Arial", sans-serif;
	font-size: 28pt;
	font-style: normal;
	font-weight: normal;
	text-decoration: none;
	vertical-align: baseline;
	background-color: #FFFFFF;
}

.SlideMaster-Default4
{
	color: #000000;
	font-family: "Arial", sans-serif;
	font-size: 28pt;
	font-style: normal;
	font-weight: normal;
	text-decoration: none;
	vertical-align: baseline;
	background-color: #FFFFFF;
}

.SlideMaster-Default3
{
	color: #000000;
	font-family: "Arial", sans-serif;
	font-size: 28pt;
	font-style: normal;
	font-weight: normal;
	text-decoration: none;
	vertical-align: baseline;
	background-color: #FFFFFF;
}

.SlideMaster-Default2
{
	color: #000000;
	font-family: "Arial", sans-serif;
	font-size: 28pt;
	font-style: normal;
	font-weight: normal;
	text-decoration: none;
	vertical-align: baseline;
	background-color: #FFFFFF;
}

.ListItemStyle5
{
	list-style-type: decimal;
}

.AlignStyle410
{
	text-align: right;
}

.AlignStyle413
{
	text-align: left;
}

.AlignStyle346
{
	text-align: left;
}

.AlignStyle419
{
	text-align: center;
}

.SlideMaster-Body-426
{
	font-size: 20pt;
	font-weight: normal;
}

.SlideMaster-Body-425
{
	font-size: 20pt;
}

.SlideMaster-Body-424
{
	font-size: 20pt;
	font-weight: normal;
}

.AlignStyle289
{
	text-align: left;
}

.SlideMaster-Body-422
{
	font-size: 20pt;
	font-weight: normal;
}

.SlideMaster-Body-421
{
	font-size: 20pt;
}

.SlideMaster-Body-420
{
	font-size: 20pt;
	font-weight: normal;
}

.AlignStyle323
{
	text-align: right;
}

.AlignStyle282
{
	text-align: left;
}

.AlignStyle283
{
	text-align: left;
}

.AlignStyle324
{
	text-align: right;
}

.SlideMaster-Title-544
{
	color: #000000;
	background-color: #FFFFFF;
}

.AlignStyle286
{
	text-align: left;
}

.AlignStyle287
{
	text-align: left;
}

.AlignStyle284
{
	text-align: left;
}

.AlignStyle285
{
	text-align: left;
}

.AlignStyle389
{
	text-align: left;
}

.AlignStyle388
{
	text-align: left;
}

.AlignStyle383
{
	text-align: left;
}

.AlignStyle382
{
	text-align: left;
}

.AlignStyle381
{
	text-align: left;
}

.AlignStyle380
{
	text-align: left;
}

.AlignStyle387
{
	text-align: left;
}

.AlignStyle386
{
	text-align: left;
}

.AlignStyle385
{
	text-align: left;
}

.AlignStyle384
{
	text-align: left;
}

.SlideMaster-Body-479
{
	font-weight: normal;
}

.SlideMaster-Title-489
{
	font-size: 32pt;
}

.AlignStyle395
{
	text-align: left;
}

.SlideMaster-Body-515
{
	font-weight: normal;
}

.SlideMaster-Body-517
{
	font-weight: normal;
}

.SlideMaster-Body-510
{
	font-size: 20pt;
	font-weight: normal;
}

.SlideMaster-Body-399
{
	font-size: 20pt;
	font-weight: normal;
}

.SlideMaster-Body-398
{
	font-size: 20pt;
	font-weight: normal;
}

.SlideMaster-Body-538
{
	font-size: 20pt;
	font-weight: normal;
}

.SlideMaster-Body-519
{
	font-weight: normal;
}

.SlideMaster-Body-392
{
	font-size: 20pt;
	font-weight: normal;
}

.SlideMaster-Body-391
{
	color: #003399;
	font-size: 32pt;
	background-color: #FFFFFF;
}

.SlideMaster-Body-390
{
	color: #003399;
	font-size: 32pt;
	text-decoration: underline;
	background-color: #FFFFFF;
}

.SlideMaster-Body-397
{
	font-weight: normal;
}

.SlideMaster-Body-395
{
	font-weight: normal;
}

.SlideMaster-Body-394
{
	font-weight: normal;
}

.SlideMaster-Title-497
{
	font-size: 32pt;
}

.SlideMaster-Title-490
{
	font-size: 32pt;
}

.SlideMaster-Body-504
{
	font-size: 20pt;
	font-weight: normal;
}

.SlideMaster-Body-366
{
	font-weight: normal;
}

.SlideMaster-Body-388
{
	color: #003399;
	font-size: 32pt;
	text-decoration: underline;
	background-color: #FFFFFF;
}

.SlideMaster-Body-389
{
	color: #003399;
	font-size: 32pt;
	background-color: #FFFFFF;
}

.SlideMaster-Body-382
{
	font-weight: normal;
}

.SlideMaster-Body-383
{
	font-weight: normal;
}

.SlideMaster-Body-380
{
	font-weight: normal;
}

.SlideMaster-Body-381
{
	font-weight: normal;
}

.SlideMaster-Body-386
{
	font-size: 20pt;
	font-weight: normal;
}

.SlideMaster-Body-387
{
	color: #003399;
	font-size: 32pt;
	background-color: #FFFFFF;
}

.SlideMaster-Body-384
{
	font-weight: normal;
}

.SlideMaster-Body-385
{
	font-weight: normal;
}

.SlideMaster-Body-498
{
	font-weight: normal;
}

.SlideMaster-Body-499
{
	font-size: 20pt;
	font-weight: normal;
}

.AlignStyle416
{
	text-align: left;
}

.SlideMaster-Body-494
{
	font-size: 20pt;
	font-weight: normal;
}

.SlideMaster-Body-495
{
	font-size: 20pt;
	font-weight: normal;
}

.AlignStyle357
{
	text-align: left;
}

.AlignStyle412
{
	text-align: left;
}

.SlideMaster-Title-365
{
	font-size: 40pt;
}

.AlignStyle353
{
	text-align: left;
}

.SlideMaster-Body-493
{
	font-size: 20pt;
	font-weight: normal;
}

.AlignStyle351
{
	text-align: left;
}

.SlideMaster-Body-536
{
	font-size: 28pt;
	font-weight: normal;
}

.SlideMaster-Title-451
{
	font-size: 32pt;
}

.SlideMaster-Title-505
{
	font-size: 32pt;
}

.AlignStyle358
{
	text-align: left;
}

.AlignStyle359
{
	text-align: left;
}

.SlideMaster-Body-496
{
	font-size: 20pt;
	font-weight: normal;
}

.AlignStyle330
{
	text-align: left;
}

.AlignStyle331
{
	text-align: left;
}

.AlignStyle332
{
	text-align: left;
}

.AlignStyle333
{
	text-align: left;
}

.AlignStyle334
{
	text-align: left;
}

.AlignStyle335
{
	text-align: left;
}

.AlignStyle336
{
	text-align: left;
}

.AlignStyle337
{
	text-align: left;
}

.AlignStyle338
{
	text-align: left;
}

.AlignStyle339
{
	text-align: left;
}

.SlideMaster-Body-423
{
	font-size: 20pt;
}

.SlideMaster-Body-468
{
	font-weight: normal;
}

.AlignStyle400
{
	text-align: left;
}

.AlignStyle401
{
	text-align: left;
}

.AlignStyle402
{
	text-align: left;
}

.AlignStyle403
{
	text-align: left;
}

.AlignStyle361
{
	text-align: left;
}

.SlideMaster-Body-429
{
	font-size: 20pt;
	font-weight: normal;
}

.SlideMaster-Body-428
{
	font-weight: normal;
}

.SlideMaster-Title-522
{
	font-size: 32pt;
}

.SlideMaster-Body-523
{
	font-weight: normal;
}

.AlignStyle368
{
	text-align: left;
}

.SlideMaster-Body-521
{
	font-weight: normal;
}

.SlideMaster-Title-464
{
	font-size: 32pt;
}

.ListItemStyle4
{
	list-style-type: decimal;
}

.SlideMaster-Title-513
{
	font-size: 32pt;
}

.AlignStyle424
{
	text-align: center;
}

.AlignStyle422
{
	text-align: center;
}

.AlignStyle423
{
	text-align: center;
}

.SlideMaster-Title-473
{
	font-size: 32pt;
}

.SlideMaster-Title-511
{
	font-size: 32pt;
}

.SlideMaster-Title-474
{
	font-size: 32pt;
}

.SlideMaster-Title-512
{
	font-size: 32pt;
}

.AlignStyle312
{
	text-align: left;
}

.AlignStyle313
{
	text-align: left;
}

.AlignStyle310
{
	text-align: left;
}

.AlignStyle311
{
	text-align: left;
}

.AlignStyle316
{
	text-align: left;
}

.AlignStyle317
{
	text-align: left;
}

.AlignStyle314
{
	text-align: left;
}

.AlignStyle315
{
	text-align: left;
}

.SlideMaster-Body-488
{
	font-style: italic;
	font-weight: normal;
}

.AlignStyle318
{
	text-align: left;
}

.AlignStyle319
{
	text-align: left;
}

.SlideMaster-Body-485
{
	font-size: 20pt;
	font-weight: normal;
}

.SlideMaster-Body-484
{
	font-size: 20pt;
	font-weight: normal;
}

.SlideMaster-Body-487
{
	font-size: 20pt;
	font-weight: normal;
}

.SlideMaster-Body-486
{
	font-size: 20pt;
	font-weight: normal;
}

.AlignStyle347
{
	text-align: left;
}

.SlideMaster-Title-374
{
	font-size: 32pt;
}

.AlignStyle345
{
	text-align: left;
}

.SlideMaster-Body-482
{
	font-weight: normal;
}

.AlignStyle420
{
	text-align: center;
}

.AlignStyle421
{
	text-align: center;
}

.SlideMaster-Title-528
{
	font-size: 32pt;
}

.SlideMaster-Title-400
{
	font-size: 32pt;
}

.SlideMaster-Title-403
{
	font-size: 32pt;
}

.AlignStyle411
{
	text-align: left;
}

.SlideMaster-Title4
{
	color: #003399;
	font-family: "Arial", sans-serif;
	font-size: 28pt;
	font-style: normal;
	font-weight: bold;
	text-decoration: none;
	vertical-align: baseline;
	background-color: #FFFFFF;
}

.SlideMaster-Title5
{
	color: #003399;
	font-family: "Arial", sans-serif;
	font-size: 28pt;
	font-style: normal;
	font-weight: bold;
	text-decoration: none;
	vertical-align: baseline;
	background-color: #FFFFFF;
}

.AlignStyle321
{
	text-align: right;
}

.AlignStyle320
{
	text-align: left;
}

.SlideMaster-Title-409
{
	font-size: 32pt;
}

.AlignStyle322
{
	text-align: right;
}

.SlideMaster-Title2
{
	color: #003399;
	font-family: "Arial", sans-serif;
	font-size: 28pt;
	font-style: normal;
	font-weight: bold;
	text-decoration: none;
	vertical-align: baseline;
	background-color: #FFFFFF;
}

.SlideMaster-Title3
{
	color: #003399;
	font-family: "Arial", sans-serif;
	font-size: 28pt;
	font-style: normal;
	font-weight: bold;
	text-decoration: none;
	vertical-align: baseline;
	background-color: #FFFFFF;
}

.AlignStyle327
{
	text-align: right;
}

.AlignStyle326
{
	text-align: right;
}

.AlignStyle329
{
	text-align: left;
}

.AlignStyle328
{
	text-align: left;
}

.SlideMaster-Body-450
{
	font-weight: normal;
}

.SlideMaster-Body-452
{
	font-weight: normal;
}

.SlideMaster-Body-453
{
	font-weight: normal;
}

.SlideMaster-Body-454
{
	font-weight: normal;
}

.SlideMaster-Body-455
{
	font-style: italic;
	font-weight: normal;
}

.SlideMaster-Body-456
{
	font-weight: normal;
}

.SlideMaster-Body-457
{
	font-weight: normal;
}

.SlideMaster-Body-458
{
	font-weight: normal;
}

.SlideMaster-Body-459
{
	font-weight: normal;
}

.SlideMaster-Body-491
{
	font-weight: normal;
}

.SlideMaster-Body-492
{
	font-weight: normal;
}

.AlignStyle392
{
	text-align: left;
}

.SlideMaster-Body
{
	color: #000000;
	font-family: "Arial", sans-serif;
	font-size: 24pt;
	font-style: normal;
	font-weight: bold;
	text-decoration: none;
	vertical-align: baseline;
	background-color: #FFFFFF;
}

.AlignStyle406
{
	text-align: left;
}

.AlignStyle407
{
	text-align: left;
}

.AlignStyle397
{
	text-align: left;
}

.AlignStyle394
{
	text-align: left;
}

.AlignStyle374
{
	text-align: left;
}

.AlignStyle375
{
	text-align: left;
}

.AlignStyle376
{
	text-align: left;
}

.AlignStyle377
{
	text-align: left;
}

.AlignStyle370
{
	text-align: left;
}

.AlignStyle371
{
	text-align: left;
}

.AlignStyle372
{
	text-align: left;
}

.AlignStyle373
{
	text-align: left;
}

.AlignStyle378
{
	text-align: left;
}

.AlignStyle379
{
	text-align: left;
}

.SlideMaster-Title-533
{
	color: #000000;
	background-color: #FFFFFF;
}

.SlideMaster-Title-427
{
	font-size: 32pt;
}

.SlideMaster-Title-534
{
	color: #000000;
	font-size: 20pt;
	background-color: #FFFFFF;
}

.AlignStyle303
{
	text-align: left;
}

.AlignStyle302
{
	text-align: left;
}

.AlignStyle301
{
	text-align: left;
}

.AlignStyle300
{
	text-align: left;
}

.AlignStyle307
{
	text-align: left;
}

.AlignStyle306
{
	text-align: left;
}

.AlignStyle305
{
	text-align: left;
}

.AlignStyle304
{
	text-align: left;
}

.AlignStyle309
{
	text-align: left;
}

.AlignStyle308
{
	text-align: left;
}

.SlideMaster-Body-472
{
	font-weight: normal;
}

.SlideMaster-Title-535
{
	font-size: 32pt;
}

.SlideMaster-Body-470
{
	font-weight: normal;
}

.SlideMaster-Body-471
{
	font-weight: normal;
}

.SlideMaster-Body-476
{
	font-weight: normal;
}

.SlideMaster-Body-477
{
	font-weight: normal;
}

.SlideMaster-Title-530
{
	font-size: 32pt;
}

.SlideMaster-Body-475
{
	font-weight: normal;
}

.SlideMaster-Body-478
{
	font-weight: normal;
}

.SlideMaster-Title-434
{
	font-size: 32pt;
}

.SlideMaster-Body-527
{
	font-weight: normal;
}

.SlideMaster-Body-524
{
	font-weight: normal;
}

.SlideMaster-Body-540
{
	font-size: 20pt;
	font-weight: normal;
}

.SlideMaster-Body-541
{
	font-size: 20pt;
	font-weight: normal;
}

.SlideMaster-Body-542
{
	font-size: 20pt;
	font-weight: normal;
}

.SlideMaster-Body-520
{
	font-weight: normal;
}

.AlignStyle356
{
	text-align: left;
}

.AlignStyle325
{
	text-align: left;
}

.AlignStyle354
{
	text-align: left;
}

.AlignStyle355
{
	text-align: left;
}

.AlignStyle352
{
	text-align: left;
}

.SlideMaster-Title-439
{
	font-size: 32pt;
}

.AlignStyle350
{
	text-align: left;
}

.AlignStyle349
{
	text-align: left;
}

.AlignStyle415
{
	text-align: left;
}

.AlignStyle414
{
	text-align: left;
}

.AlignStyle417
{
	text-align: left;
}

.SlideMaster-Body-441
{
	font-size: 20pt;
	font-weight: normal;
}

.SlideMaster-Body-440
{
	font-size: 20pt;
	font-weight: normal;
}

.SlideMaster-Body-443
{
	font-weight: normal;
}

.SlideMaster-Body-442
{
	font-weight: normal;
}

.SlideMaster-Body-445
{
	font-weight: normal;
}

.SlideMaster-Body-444
{
	font-weight: normal;
}

.SlideMaster-Body-447
{
	font-size: 20pt;
	font-weight: normal;
}

.SlideMaster-Body-446
{
	font-weight: normal;
}

.SlideMaster-Body-449
{
	font-weight: normal;
}

.SlideMaster-Body-448
{
	font-weight: normal;
}

.AlignStyle418
{
	text-align: left;
}

.SlideMaster-Body-481
{
	font-weight: normal;
}

.SlideMaster-Body-480
{
	font-weight: normal;
}

.SlideMaster-Body-483
{
	font-weight: normal;
}

.AlignStyle398
{
	text-align: left;
}

.AlignStyle365
{
	text-align: left;
}

.AlignStyle364
{
	text-align: left;
}

.AlignStyle367
{
	text-align: left;
}

.AlignStyle366
{
	text-align: left;
}

.AlignStyle288
{
	text-align: left;
}

.AlignStyle360
{
	text-align: left;
}

.AlignStyle363
{
	text-align: left;
}

.AlignStyle362
{
	text-align: left;
}

.AlignStyle404
{
	text-align: left;
}

.AlignStyle405
{
	text-align: left;
}

.AlignStyle369
{
	text-align: left;
}

.SlideMaster-Body-414
{
	font-size: 20pt;
	font-weight: normal;
}

.SlideMaster-Body-415
{
	font-size: 20pt;
	font-style: italic;
	font-weight: normal;
}

.SlideMaster-Body-416
{
	font-size: 20pt;
	font-weight: normal;
}

.SlideMaster-Body-417
{
	font-size: 20pt;
}

.SlideMaster-Body-410
{
	font-weight: normal;
}

.SlideMaster-Body-411
{
	font-size: 20pt;
	font-weight: normal;
}

.SlideMaster-Body-412
{
	font-size: 20pt;
}

.SlideMaster-Body-413
{
	font-size: 20pt;
	font-weight: normal;
}

.AlignStyle408
{
	text-align: left;
}

.AlignStyle409
{
	text-align: left;
}

.SlideMaster-Body-418
{
	font-size: 20pt;
	font-weight: normal;
}

.SlideMaster-Body-419
{
	font-size: 20pt;
}

